<div id="contact-fuzenet">
  <div class="container contact-content">
    <div class="bottom-logo">
    </div>
    <div id="contact-invite" class="col-xs-12 col-sm-12 col-md-4">
      <div class="for-small-screen hidden-md hidden-lg">
        <h1>Get in touch</h1>
        <div class="social-bottom-right">
          <ul class="list-inline">
            <li><a href="#">
              <i class="fa fa-facebook-square fa-25x"></i>
            </a></li>
            <li><a href="#">
              <i class="fa fa-google-plus-square fa-25x"></i>
            </a></li>
            <li><a href="#">
              <i class="fa fa-twitter-square fa-25x"></i>
            </a></li>
            <li><a href="#">
              <i class="fa fa-instagram fa-25x"></i>
            </a></li>
          </ul>
        </div>
      </div>
      <div class="for-big-screen hidden-xs hidden-sm">
        <div class="bubble-chat text-center">
          <p class="ask">. . .</p>
        </div>
        <h1 class="text-center">Get in <br/>touch</h1>
        <div class="social-bottom text-center">
          <ul class="list-inline">
            <li><a href="#">
              <i class="fa fa-facebook-square fa-25x"></i>
            </a></li>
            <li><a href="#">
              <i class="fa fa-google-plus-square fa-25x"></i>
            </a></li>
            <li><a href="#">
              <i class="fa fa-twitter-square fa-25x"></i>
            </a></li>
            <li><a href="#">
              <i class="fa fa-instagram fa-25x"></i>
            </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="cform" class="col-xs-12 col-sm-12 col-md-8">
      <form id="contact-form" class="col-sm-6 animated bounceInRight" method="post" ng-submit="ct.contactSubmit()">
        <div class="form-group">
          <label class="sr-only control-label" for="contact-name">Full Name</label>
          <div class="controls">
            <i class="fa fa-user fa-lg"></i>
            <input data-ng-model="ct.formData.name" id="contact-name" name="contactName" placeholder="Your name" class="form-control" type="text" data-error-empty="How should I call you?" required/>
          </div>
        </div><!-- End name input -->

        <div class="form-group">
          <label class="sr-only control-label" for="contact-mail">Email Address</label>
          <div class=" controls">
            <i class="fa fa-envelope fa-lg"></i>
            <input data-ng-model="ct.formData.email" id="contact-mail" name="email" placeholder="Your email" class="form-control" type="email" data-error-empty="I need your email address" data-error-invalid="Is this an email address?" required/>
          </div>
        </div><!-- End email input -->

        <div class="form-group">
          <label class="sr-only control-label" for="contact-message">Message</label>
          <div class="controls">
            <i class="fa fa-comment fa-lg"></i>
            <textarea data-ng-model="ct.formData.msg" id="contact-message" name="comments" placeholder="Your message" class="form-control" rows="5" data-error-empty="Do you want to say something?" required></textarea>
          </div>
        </div><!-- End textarea -->

        <div class="form-group">
          <button name="submit" type="submit" class="btn btn-orange btn-block" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Message Sent">Send Message</button>
        </div>

      </form>
    </div>
    <footer class="infotocontact">
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-4 no-padding">
        <h3>Location</h3>
        <address>
          <strong>FuzeNet Marketing.</strong><br>
          4601 Nolesville Pike<br>
          Nashville, TN 37211<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890<br/>
          <a href="mailto:info@fuzenetmarketing.com">info@fuzenetmarketing.com</a>
        </address>
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-4 no-padding">
        <h3>Services</h3>
        <ul>
          <li>Web Development</li>
          <li>Graphic Design</li>
          <li>Corporate Identity</li>
          <li>Branding</li>
          <li>Digital Marketing</li>
        </ul>
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-4 no-padding">
        <h3>Hours</h3>
        <dl>
          <dt>
            Mon thru Fri
          </dt>
          <dd>
            9:00am - 7:00pm
          </dd>
          <dt>
            Sat and Sun
          </dt>
          <dd>
            9:00am - 9:00pm
          </dd>

        </dl>
      </div>
    </footer>
  </div>

</div>

<div id="copyfuze" class="col-xs-12">
  <p class="text-center">
    <a class="link-copyfuze" href="#">Sitemap</a>  | <a class="link-copyfuze" href="#">Legal Info</a> | &copy; 2013 - Present, FuzeNet Marketing Company. All Rights Reserved.
  </p>
</div>
