<div class="site-header">
  <!-- HEADER Tagline + Get a Quote -->
  <div class="header-top">
    <ul class="clearfix">
      <li class="header-top-tagline"><h1 class="tagline"><strong class="hidden-sm hidden-md hidden-lg">FuzeNet</strong> Ignite your Business</h1></li>
      <li class="header-top-quote">
        <form role="search" method="post" id="getaquote" class="header-form" data-ng-submit="gq.quoteSubmit()">
          <input type="email" name="qemail" placeholder="Enter your email" class="getquote" ng-model="gq.quoteData.qemail" required/>
          <button type="submit" class="btn-getaquote"> <i class="fa fa-chevron-left"></i> &nbsp; Get a quote</button>
        </form>
      </li>
    </ul>
  </div>

  <div class="header-middle">
    <div class="header-middle-toggle">
      <i class="fa fa-bars"></i>
    </div>
    <div class="header-middle-logo">
      <a ui-sref="home()">
        <img id="logo-full" class="img-responsive" src="../assets/images/main/new-logo.png" title="FuzeNet Marketing" alt="FuzeNet" />
      </a>
    </div>
    <div class="header-middle-menu">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a ui-sref="about()">About <span class="sr-only">(current)</span></a></li>
              <li><a ui-sref="portfolio()">Portfolio</a></li>
              <li><a ui-sref="blog()">Blog</a></li>
              <li><a ui-sref="tools()">Tools</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    </div>
  </div>

  <div class="header-bottom hidden">
    <div id="main-social-icons">
      <ul class="list-inline pull-right">
        <li><i class="fa fa-facebook-square fa-2x"></i></li>
        <li><i class="fa fa-google-plus-square fa-2x"></i></li>
        <li><i class="fa fa-twitter-square fa-2x"></i></li>
        <li><i class="fa fa-instagram fa-2x"></i></li>
      </ul>
    </div>
  </div>

</div>

