<header class="main">
  <div class="header-wrapper">
    <acme-navbar />
  </div>
</header>

<div id="menu-separator"></div>

<section id="about-header">
  <div class="container">
    <div class="text-center">
      <h2 class="animated fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms" style="visibility: visible; animation-duration: 300ms; animation-delay: 0ms; animation-name: fadeInUp;">YOU'VE MADE A brave DECISION, <span>WELCOME</span></h2>
      <p class="animated fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 300ms; animation-delay: 100ms; animation-name: fadeInUp;">Mauris pretium auctor quam. Vestibulum et nunc id nisi fringilla <br>iaculis. Mauris pretium auctor quam.</p>
    </div>
  </div>
</section>

<section id="about-more">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 animated fadeInRight">
        <h3 class="column-title">A Little More About Us</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

        <a class="btn btn-primary" ui-sref="portfolio()">See our portfolio...</a>

      </div>
      <div class="col-sm-6 animated fadeInLeft">
        <img class="img-responsive" src="../assets/images/about/multidevice-logo.png" alt="">
      </div>
    </div>
  </div>
</section><!--/#about-->

<section id="about-some">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">

          <div class="skills-wrapper">
              <ul>
                  <li><span class="skillgraphics"></span><em>Graphic Design</em></li>
                  <li><span class="skillweb"></span><em>Web Design</em></li>
                  <li><span class="skillbranding"></span><em>Branding</em></li>
                  <li><span class="skillseo"></span><em>SEO/Digital Marketing</em></li>
                  <li><span class="skilldevelop"></span><em>Web Development</em></li>
                  <li><span class="skillwordpress"></span><em>Wordpress</em></li>
              </ul>
          </div>

      </div>

      <div class="col-xs-12 col-sm-6">
        <h3 class="column-title">A glimpse about our <strong>Skills</strong></h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </div>
  </div>
</section><!--/#about-->

<section id="about-team">
  <div class="row no-margin"> <!-- el papa de los DIV -->
    <div id="theteam">
      <div class="col-xs-12 header-team">
        <h1 class="hidden-sm hidden-md hidden-lg"> <strong>Fuzenet Marketing</strong> Team</h1>
      </div>
      <div class="theteam-content">
        <div class="container team-group">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="hidden-xs supertitle text-center text-orange"> <strong>Fuzenet Marketing</strong> Team </h2>
              <h3 class="subTitle text-center"> Meet the creative Team</h3>
            </div>
            <div class="team-list">
              <div class="col-xs-6 col-sm-4 col-md-4 no-padding" data-ng-repeat="member in vm.team">
                <article class="person animated slideInUp">
                  <figure class="person-hold">
                    <img ng-src="{{member.picture}}" class="img-responsive"/>
                    <figcaption class="person-info">
                      <h4>{{member.name}} <br/> <small>{{member.position}}</small> </h4>
                    </figcaption>
                  </figure>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="footer">
  <acme-footer />
</section>
