<header class="main">
  <div class="header-wrapper">
    <acme-navbar />
  </div>
</header>

<div id="menu-separator"></div>

<div class="container">
  <div class="mainslider">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="../assets/images/slidermain/1200-slide-1.png" alt="...">
          <div class="carousel-caption">
            <!--<h2 class="animated bounceInLeft">Titulo 1</h2>
            <p>Tagline #1</p>-->
          </div>
        </div>
        <div class="item">
          <img src="../assets/images/slidermain/1200-slide-2.png" alt="...">
          <div class="carousel-caption">
            <!--<h2>Titulo 2</h2>
            <p>Tagline #2</p>
            <p class="animated bounceInDown" ng-class="main.classAnimation">
              <button type="button" class="btn btn-lg btn-info">Get a Quote</button>
            </p>-->
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="fa fa-angle-left fa-25x" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="fa fa-angle-right fa-25x" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<div id="wrapper-brand-list" class="container">
  <ul class="brand-list">
    <li class="brand-item">
      <a href="http://driveautomasters.com/drive2/">
        <img src="../assets/images/brands/automasters.png" alt="" title=""/>
      </a>
    </li>
    <li class="brand-item">
      <a href="http://getamericasinsurance.com/">
        <img src="../assets/images/brands/ai.png" alt="" title=""/>
      </a>
    </li>
    <li class="brand-item">
      <a href="http://plazamariachi.com/">
        <img src="../assets/images/brands/plazamariachi.png" alt="" title=""/>
      </a>
    </li>
  </ul>
</div>

<div class="row"> <!-- el papa de los DIV -->
  <div id="maketing-we-do">
    <div class="marketing-elements col-xs-12 col-sm-6">
      <div class="col-xs-8 col-xs-offset-2 col-sm-12">
        <ul class="list-style-orange">
          <li>&nbsp; Full Scale, All Purpose Marketing Agency</li>
          <li>&nbsp; Digital & Online Marketing</li>
          <li>&nbsp; Video Marketing</li>
          <li>&nbsp; Top Social Networks Marketing Ignite</li>
          <li>&nbsp; Proven Results across range of business</li>
          <li>&nbsp; National and Local Marketing Campaigns</li>
          <li>&nbsp; More than 20 years of Experience</li>
        </ul>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="videoContainer">
        <video id="marketing-video" controls>
          <source src="https://s3.amazonaws.com/activelab/files/trailer.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="https://s3.amazonaws.com/activelab/files/trailer.webm" type='video/webm; codecs="vp8, vorbis"' />
          Video not supported.
        </video>
      </div>
    </div>
  </div>

  <div id="features-whiteboard">
    <div class="col-xs-12 header-whiteboard">
      <h1 class="hidden-sm hidden-md hidden-lg"><strong>Fuzenet</strong> Whiteboard</h1>
    </div>
    <div class="col-xs-12 tab-features">
      <!-- Nav tabs What we Do -->
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation" class="active">
          <a href="#design" aria-controls="design" role="tab" data-toggle="tab" class="hvr-underline-from-center">
            <h4><div class="hexagon" ><i class="fa fa-pencil"></i></div> Design </h4>
            <p class="text-center">Branding</p>
            <p class="text-center">Website Design</p>
            <p class="text-center">Graphic Design</p>
          </a>
        </li>
        <li role="presentation">
          <a href="#develop" aria-controls="develop" role="tab" data-toggle="tab" class="hvr-underline-from-center">
            <h4><div class="hexagon" ><i class="fa fa-code"></i></div> Develop </h4>
            <p class="text-center">Website Development</p>
            <p class="text-center">Wordpress Theme</p>
            <p class="text-center">OnSite Optimization</p>
          </a>
        </li>
        <li role="presentation">
          <a href="#marketing" aria-controls="marketing" role="tab" data-toggle="tab" class="hvr-underline-from-center">
            <h4><div class="hexagon" ><i class="fa fa-globe"></i></div> Marketing </h4>
            <p class="text-center">Network Remarketing</p>
            <p class="text-center">SEO/SEM/PPC/AdWords</p>
            <p class="text-center">Social Media Marketing</p>
          </a>
        </li>
      </ul>

      <!-- Tab panes What we Do -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="design">
          <div class="design-panel bounceInDown">
            <h1> Fuzenet Whiteboard Design</h1>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="develop">
          <div class="develop-panel bounceInDown">
            <h1> Fuzenet Whiteboard Develop </h1>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="marketing">
          <div class="marketing-panel bounceInDown">
            <h1> Fuzenet Whiteboard Marketing </h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="fuzeblog">
    <div class="col-xs-12 header-fuzeblog">
      <h1 class="hidden-sm hidden-md hidden-lg"><strong>Fuzenet</strong> Blog</h1>
    </div>
    <div class="fuzeblog-content">
      <div class="hidden-xs col-sm-2 col-md-3 col-lg-3 fuzeblog-leftbg"></div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 fuzeblog-leftmenu">
        <!-- Nav tabs Blog Articles and Releases -->
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="active">
            <a href="#blog" aria-controls="blog" role="tab" data-toggle="tab" class="">
              <i class="fa fa-pencil-square-o"></i> Blog
            </a>
          </li>
          <li role="presentation">
            <a href="#articles" aria-controls="articles" role="tab" data-toggle="tab" class="">
              <i class="fa fa-newspaper-o"></i> Articles
            </a>
          </li>
          <li role="presentation">
            <a href="#releases" aria-controls="releases" role="tab" data-toggle="tab" class="">
              <i class="fa fa-archive"></i> Tools
            </a>
          </li>
        </ul>

      </div>

      <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7 fuzeblog-articles">

        <!-- Tab panes What we Do -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="blog">
            <!-- Article List -->
            <article class="clearfix blogpost">
              <div class="overlay-container">
                <img class="img-responsive" src="../assets/images/slidermain/1200-slide-2.png" alt="">
                <div class="overlay">
                  <div class="overlay-links">
                    <a href="blog-post.html"><i class="fa fa-link"></i></a>
                    <a href="../assets/images/slidermain/1200-slide-2.png" target="_blank" class="popup-img-single" title="image title"><i class="fa fa-search-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="blogpost-body">
                <div class="post-info">
                  <i class="fa fa-user fa-3x"></i>
                </div>
                <div class="blogpost-content">
                  <header>
                    <h2 class="title"><a href="blog-post.html">Augue eleifend dignissim</a></h2>
                    <div class="submitted"><i class="fa fa-calendar"></i> &nbsp; July 31, 2015 </div>
                  </header>
                  <p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum. In iaculis lectus vel augue eleifend dignissim. Aenean viverra semper sollicitudin.</p>
                </div>
              </div>
              <footer class="clearfix">
                <ul class="list-inline pull-left">
                  <li><i class="fa fa-comment-o pad-right-5"></i> <a href="#">22 comments</a> |</li>
                  <li><i class="fa fa-user pad-right-5"></i> by Lidiexy </li>
                </ul>
                <a class="pull-right btn btn-default" href="blog-post.html"><span>Read more</span></a>
              </footer>
            </article>
            <!--next article-->

          </div>
          <div role="tabpanel" class="tab-pane" id="articles">
            <article class="clearfix blogpost"></article>
          </div>
          <div role="tabpanel" class="tab-pane" id="releases">
            <article class="clearfix blogpost"></article>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="theteam">
    <div class="col-xs-12 header-team">
      <h1 class="hidden-sm hidden-md hidden-lg"> <strong>Fuzenet Marketing</strong> Team</h1>
    </div>
    <div class="theteam-content">
      <div class="container team-group">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="hidden-xs supertitle text-center text-orange"> <strong>Fuzenet Marketing</strong> Team </h2>
            <h3 class="subTitle text-center"> Meet the creative Team</h3>
          </div>
          <div class="team-list">
            <div class="col-xs-6 col-sm-4 col-md-4 no-padding" data-ng-repeat="member in main.team">
              <article class="person animated slideInUp">
                <figure class="person-hold">
                  <img ng-src="{{member.picture}}" class="img-responsive"/>
                  <figcaption class="person-info">
                    <h4>{{member.name}} <br/> <small>{{member.position}}</small> </h4>
                  </figcaption>
                </figure>
              </article>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div id="contact-fuzenet">
    <div class="container contact-content">
      <div class="bottom-logo">
      </div>
      <div id="contact-invite" class="col-xs-12 col-sm-12 col-md-4">
        <div class="for-small-screen hidden-md hidden-lg">
          <h1>Get in touch</h1>
          <div class="social-bottom-right">
            <ul class="list-inline">
              <li><a href="#">
                <i class="fa fa-facebook-square fa-25x"></i>
              </a></li>
              <li><a href="#">
                <i class="fa fa-google-plus-square fa-25x"></i>
              </a></li>
              <li><a href="#">
                <i class="fa fa-twitter-square fa-25x"></i>
              </a></li>
              <li><a href="#">
                <i class="fa fa-instagram fa-25x"></i>
              </a></li>
            </ul>
          </div>
        </div>
        <div class="for-big-screen hidden-xs hidden-sm">
          <div class="bubble-chat text-center">
            <p class="ask">. . .</p>
          </div>
          <h1 class="text-center">Get in <br/>touch</h1>
          <div class="social-bottom text-center">
            <ul class="list-inline">
              <li><a href="#">
                <i class="fa fa-facebook-square fa-25x"></i>
              </a></li>
              <li><a href="#">
                <i class="fa fa-google-plus-square fa-25x"></i>
              </a></li>
              <li><a href="#">
                <i class="fa fa-twitter-square fa-25x"></i>
              </a></li>
              <li><a href="#">
                <i class="fa fa-instagram fa-25x"></i>
              </a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="cform" class="col-xs-12 col-sm-12 col-md-8">
        <form id="contact-form" class="col-sm-6 animated bounceInRight" action="contact.php" method="post">
          <div class="form-group">
            <label class="sr-only control-label" for="contact-name">Full Name</label>
            <div class="controls">
              <i class="fa fa-user fa-lg"></i>
              <input id="contact-name" name="contactName" placeholder="Your name" class="form-control" type="text" data-error-empty="How should I call you?" required/>
            </div>
          </div><!-- End name input -->

          <div class="form-group">
            <label class="sr-only control-label" for="contact-mail">Email Address</label>
            <div class=" controls">
              <i class="fa fa-envelope fa-lg"></i>
              <input id="contact-mail" name="email" placeholder="Your email" class="form-control" type="email" data-error-empty="I need your email address" data-error-invalid="Is this an email address?" required/>
            </div>
          </div><!-- End email input -->

          <div class="form-group">
            <label class="sr-only control-label" for="contact-message">Message</label>
            <div class="controls">
              <i class="fa fa-comment fa-lg"></i>
              <textarea id="contact-message" name="comments" placeholder="Your message" class="form-control" rows="5" data-error-empty="Do you want to say something?" required></textarea>
            </div>
          </div><!-- End textarea -->

          <div class="form-group">
            <button name="submit" type="submit" class="btn btn-orange btn-block" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Message Sent">Send Message</button>
          </div>

        </form>
      </div>
      <footer class="infotocontact">
        <div class="col-xs-12 col-sm-4 col-md-4 no-padding">
          <h3>Location</h3>
          <address>
            <strong>FuzeNet Marketing.</strong><br>
            4601 Nolesville Pike<br>
            Nashville, TN 37211<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890<br/>
            <a href="mailto:fuze@fuzenetmarketing.com">fuze@fuzenetmarketing.com</a>
          </address>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 no-padding">
          <h3>Services</h3>
          <ul>
            <li>Web Development</li>
            <li>Graphic Design</li>
            <li>Corporate Identity</li>
            <li>Branding</li>
            <li>Digital Marketing</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 no-padding">
          <h3>Hours</h3>
          <dl>
            <dt>
              Mon thru Fri
            </dt>
            <dd>
              9:00am - 7:00pm
            </dd>
            <dt>
              Sat and Sun
            </dt>
            <dd>
              9:00am - 9:00pm
            </dd>

          </dl>
        </div>
      </footer>
    </div>

  </div>

  <div id="copyfuze" class="col-xs-12">
    <p class="text-center">
      <a class="link-copyfuze" href="#">Sitemap</a>  | <a class="link-copyfuze" href="#">Legal Info</a> | &copy; 2013 - Present, FuzeNet Marketing Company. All Rights Reserved.
    </p>
  </div>

</div>

</div>

<!--<div class="jumbotron text-center">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p class="animated tada"> &lt;!&ndash;ng-class="main.classAnimation"&ndash;&gt;
    <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
  </p>
  <p>
    With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']" />
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div>

</div>-->