<header class="main">
  <div class="header-wrapper">
    <acme-navbar />
  </div>
</header>

<div id="menu-separator"></div>

<section id="blog-header">
  <div class="container">
    <div class="page-header">
      <h2 class="animated fadeInLeft">{{vm.post.title}} <small>[{{vm.post.category}}]</small></h2>
    </div>
    <div class="text-left clearfix">
      <ul class="list-inline pull-left">
        <li><i class="fa fa-calendar pad-right-5"></i> {{vm.post.creation_date}}</li>
        <li><i class="fa fa-comment-o pad-right-5"></i><a href="#post-comments">{{(vm.post.comments | filter:{comment_approved:true}).length}} comment(s)</a> </li>
      </ul>
    </div>
    <div class="mar-top-10">
      <img class="img-responsive" ng-src="{{vm.post.featured}}" alt="{{vm.post.title}}">
    </div>
  </div>
</section>

<section id="post-content" class="blogpost">
  <div class="container">
    <blockquote>
      <p class="text-muted">{{vm.post.summary}}</p>
      <footer> Wrote by {{vm.post.author}}</footer>
    </blockquote>
    <article class="post-body">
      {{vm.post.body}}
    </article>
    <div class="jumbotron">
      <div class="container">
        <div class="post-info" ng-style="{'background-image': 'url(' + vm.post.who.picture + ')', 'background-repeat': 'no-repeat', 'background-size': '60px 60px', 'background-position': 'center center' }">
        </div>
        <h4>{{vm.post.author}}</h4>
        <samp>{{vm.post.who.brief}}</samp>
      </div>
    </div>
  </div>
</section>

<section id="post-comments">
  <div class="container">
    <h4>{{(vm.post.comments | filter:{comment_approved:true}).length}} Comment(s) on this post</h4>
    <p class="help-block">Please let us your comments</p>
    <div class="add-comment text-center">
      <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#formComment" aria-expanded="false" aria-controls="formComment">
        Add your Comment
      </button>
      <div class="collapse clearfix" id="formComment">
        <form id="commentForm" class="col-xs-8 col-xs-offset-2" method="post" ng-submit="vm.commentSubmit()">
          <div class="form-group">
            <input data-ng-model="vm.commentData.author" id="commentauthor" name="commentauthor" placeholder="Your email address" class="form-control" type="email" data-error-empty="I need your email address" data-error-invalid="Is this an email address?" required/>
          </div>

          <div class="form-group">
            <textarea data-ng-model="vm.commentData.body" id="commentbody" name="commentbody" placeholder="What do you think about this article?" class="form-control" rows="3" data-error-empty="Do you want to say something?" required></textarea>
          </div><!-- End textarea -->

          <div class="form-group">
            <button name="submit" type="submit" class="btn btn-block" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Message Sent">Send Comment</button>
          </div>

        </form>
      </div>
    </div>

    <div class="comment-list clearfix">
      <div class="panel panel-default" ng-hide="(vm.post.comments | filter:{comment_approved:true}).length > 0">
        <div class="panel-body">
          Be the first in comment this post!
        </div>
      </div>
      <div class="panel panel-default" data-ng-repeat="comm in vm.post.comments | filter:{comment_approved:true}">
        <div class="panel-body">
          <p class="text-muted text-uppercase text-right">{{comm.comment_creationdate}}</p>
          <p>{{comm.comment_body}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="footer">
  <acme-footer />
</section>