<header class="main">
  <div class="header-wrapper">
    <acme-navbar creationDate="main.creationDate" />
  </div>
</header>

<div id="menu-separator"></div>

<div class="container">
  <div class="mainslider">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="../assets/images/slidermain/1200-slide-1.png" alt="...">
          <div class="carousel-caption">
            <!--<h2 class="animated bounceInLeft">Titulo 1</h2>
            <p>Tagline #1</p>-->
          </div>
        </div>
        <div class="item">
          <img src="../assets/images/slidermain/1200-slide-2.png" alt="...">
          <div class="carousel-caption">
            <!--<h2>Titulo 2</h2>
            <p>Tagline #2</p>
            <p class="animated bounceInDown" ng-class="main.classAnimation">
              <button type="button" class="btn btn-lg btn-info">Get a Quote</button>
            </p>-->
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="fa fa-angle-left fa-25x" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="fa fa-angle-right fa-25x" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<div id="wrapper-brand-list" class="container">
  <ul class="brand-list">
    <li class="brand-item">
      <a href="http://driveautomasters.com/drive2/">
        <img src="../assets/images/brands/automasters.png" alt="" title=""/>
      </a>
    </li>
    <li class="brand-item">
      <a href="http://getamericasinsurance.com/">
        <img src="../assets/images/brands/ai.png" alt="" title=""/>
      </a>
    </li>
    <li class="brand-item">
      <a href="http://plazamariachi.com/">
        <img src="../assets/images/brands/plazamariachi.png" alt="" title=""/>
      </a>
    </li>
  </ul>
</div>

<div class="row no-margin"> <!-- el papa de los DIV -->
  <div id="maketing-we-do">
    <div class="marketing-elements col-xs-12 col-sm-6">
      <div class="col-xs-8 col-xs-offset-2 col-sm-12">
        <ul class="list-style-orange">
          <li>&nbsp; Full Scale, All Purpose Marketing Agency</li>
          <li>&nbsp; Digital & Online Marketing</li>
          <li>&nbsp; Video Marketing</li>
          <li>&nbsp; Top Social Networks Marketing Ignite</li>
          <li>&nbsp; Proven Results across range of business</li>
          <li>&nbsp; National and Local Marketing Campaigns</li>
          <li>&nbsp; More than 20 years of Experience</li>
        </ul>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="videoContainer">
        <video id="marketing-video" controls>
          <source src="https://s3.amazonaws.com/activelab/files/trailer.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          <source src="https://s3.amazonaws.com/activelab/files/trailer.webm" type='video/webm; codecs="vp8, vorbis"' />
          Video not supported.
        </video>
      </div>
    </div>
  </div>

  <div id="features-whiteboard">
    <div class="col-xs-12 header-whiteboard">
      <h1 class="hidden-sm hidden-md hidden-lg"><strong>Fuzenet</strong> Whiteboard</h1>
    </div>
    <div class="col-xs-12 tab-features no-padding">
      <!-- Nav tabs What we Do -->
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation" class="active">
          <a ng-click="main.categoryFilter = 'design'; main.subcategoryFilter = ''" role="tab" data-toggle="tab" class="hvr-underline-from-center">
            <h4><div class="hexagon" ><i class="fa fa-pencil"></i></div> Design </h4>
            <p class="text-center">Branding</p>
            <p class="text-center">Website Design</p>
            <p class="text-center">Graphic Design</p>
          </a>
        </li>
        <li role="presentation">
          <a ng-click="main.categoryFilter = 'development'; main.subcategoryFilter = ''" role="tab" data-toggle="tab" class="hvr-underline-from-center">
            <h4><div class="hexagon" ><i class="fa fa-code"></i></div> Develop </h4>
            <p class="text-center">Website Development</p>
            <p class="text-center">Wordpress Theme</p>
            <p class="text-center">OnSite Optimization</p>
          </a>
        </li>
        <li role="presentation">
          <a ng-click="main.categoryFilter = 'marketing'; main.subcategoryFilter = ''" role="tab" data-toggle="tab" class="hvr-underline-from-center">
            <h4><div class="hexagon" ><i class="fa fa-globe"></i></div> Marketing </h4>
            <p class="text-center">Network Remarketing</p>
            <p class="text-center">SEO/SEM/PPC/AdWords</p>
            <p class="text-center">Social Media Marketing</p>
          </a>
        </li>
      </ul>

      <section id="portfolio-page">
        <div class="container">
          <div class="row">
            <!-- Portfolio Design -->
            <div class="lot">
              <div>
                <div class="filter-lot" data-ng-hide="main.categoryFilter != 'design'">
                  <a class="btn btn-filter" ng-click="main.categoryFilter = 'design'; main.subcategoryFilter = ''"> All </a>
                  <a class="btn btn-filter" ng-click="main.categoryFilter = 'design'; main.subcategoryFilter = 'branding'"> Branding </a>
                  <a class="btn btn-filter" ng-click="main.categoryFilter = 'design'; main.subcategoryFilter = 'graphic_design'"> Graphics </a>
                  <a class="btn btn-filter" ng-click="main.categoryFilter = 'design'; main.subcategoryFilter = 'web_design'"> Web Design </a>
                </div>
                <div class="filter-lot" data-ng-hide="main.categoryFilter != 'development'">
                  <a class="btn btn-filter" ng-click="main.categoryFilter = 'development'; main.subcategoryFilter = ''"> All </a>
                  <a class="btn btn-filter" ng-click="main.categoryFilter = 'development'; main.subcategoryFilter = 'web'"> Web </a>
                  <a class="btn btn-filter" ng-click="main.categoryFilter = 'development'; main.subcategoryFilter = 'wordpress'"> Wordpress </a>
                  <a class="btn btn-filter" ng-click="main.categoryFilter = 'development'; main.subcategoryFilter = 'optimization'"> Optimization </a>
                </div>
                <div class="filter-lot" data-ng-hide="main.categoryFilter != 'marketing'">
                  <a class="btn btn-filter" ng-click="main.categoryFilter = 'marketing'; main.subcategoryFilter = ''"> All </a>
                  <a class="btn btn-filter" ng-click="main.categoryFilter = 'marketing'; main.subcategoryFilter = 'remarketing'"> Remarketing </a>
                  <a class="btn btn-filter" ng-click="main.categoryFilter = 'marketing'; main.subcategoryFilter = 'seo'"> SEO/PPC </a>
                  <a class="btn btn-filter" ng-click="main.categoryFilter = 'marketing'; main.subcategoryFilter = 'social_media'"> Social Media </a>
                </div>
              </div>


              <div masonry="true" reload-on-load> <!--item-selector=".masonry-brick"-->
                <article class="masonry-brick col-xs-12 col-sm-6 col-md-4" ng-repeat="item in main.portfolio | filter: { category: main.categoryFilter } | filter: {subcategory: main.subcategoryFilter}">
                  <a ng-href="{{item.picture}}" target="_blank" class="popup-img-single" title="{{item.name}}">
                    <figure class="item-portfolio-hold">
                      <img ng-src="{{item.picture}}" class="img-responsive"/>
                      <figcaption class="item-portfolio-info">
                        <h4>{{item.name}} <br/> <small>{{item.tagline}}</small> </h4>
                      </figcaption>
                    </figure>
                  </a>
                </article>
              </div>
            </div>
          </div>	    <!-- End row -->
        </div>       <!-- End container -->
      </section>    <!-- End Section -->

      <!-- Tab panes What we Do -->
      <!--<div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="design">
          <div class="design-panel bounceInDown">
            <h1 class="text-center portfolio-title"> Fuzenet Whiteboard Design</h1>
            <div class="lot">
              <div class="filter-lot">
                <a class="btn btn-filter" ng-click="main.categoryFilter = 'design'; main.subcategoryFilter = ''"> All </a>
                <a class="btn btn-filter" ng-click="main.categoryFilter = 'design'; main.subcategoryFilter = 'branding'"> Branding </a>
                <a class="btn btn-filter" ng-click="main.categoryFilter = 'design'; main.subcategoryFilter = 'graphic_design'"> Graphics </a>
                <a class="btn btn-filter" ng-click="main.categoryFilter = 'design'; main.subcategoryFilter = 'web_design'"> Web Design </a>
              </div>

              <div masonry="true">
                <article class="masonry-brick col-xs-12 col-sm-6 col-md-4" ng-repeat="item in main.portfolio.design | filter: { category: main.categoryFilter } | filter: {subcategory: main.subcategoryFilter}">
                    <a ng-href="{{item.picture}}" target="_blank" class="popup-img-single" title="{{item.name}}">
                      <figure class="item-portfolio-hold">
                          <img ng-src="{{item.picture}}" class="img-responsive"/>
                        <figcaption class="item-portfolio-info">
                          <h4>{{item.name}} <br/> <small>{{item.tagline}}</small> </h4>
                        </figcaption>
                      </figure>
                    </a>
                </article>
              </div>
            </div>

          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="develop">
          <div class="develop-panel bounceInDown">
            <h1 class="text-center portfolio-title"> Fuzenet Whiteboard Develop </h1>
            <div class="lot">
              <div class="filter-lot">
                <a class="btn btn-filter" ng-click="main.categoryFilter = 'development'; main.subcategoryFilter = ''"> All </a>
                <a class="btn btn-filter" ng-click="main.categoryFilter = 'development'; main.subcategoryFilter = 'web'"> Web </a>
                <a class="btn btn-filter" ng-click="main.categoryFilter = 'development'; main.subcategoryFilter = 'wordpress'"> Wordpress </a>
                <a class="btn btn-filter" ng-click="main.categoryFilter = 'development'; main.subcategoryFilter = 'optimization'"> Optimization </a>
              </div>

              <div masonry="true" reload-on-show>
                <article class="masonry-brick col-xs-12 col-sm-6 col-md-4" ng-repeat="item in main.portfolio.development | filter: { category: main.categoryFilter } | filter: {subcategory: main.subcategoryFilter}">
                  <figure class="item-portfolio-hold">
                    <img ng-src="{{item.picture}}" class="img-responsive"/>
                    <figcaption class="item-portfolio-info">
                      <h4>{{item.name}} <br/> <small>{{item.tagline}}</small> </h4>
                    </figcaption>
                  </figure>
                </article>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="marketing">
          <div class="marketing-panel bounceInDown">
            <h1 class="text-center portfolio-title"> Fuzenet Whiteboard Marketing </h1>
          </div>
        </div>
      </div>-->
    </div>
  </div>

  <section class="col-xs-12 no-padding" id="fuzeblog">
    <div class="col-xs-12 header-fuzeblog clearfix">
      <h1 class="hidden-sm hidden-md hidden-lg"><strong>Fuzenet</strong> Blog</h1>
    </div>
    <div id="ourblog-wrap" class="col-xs-12 no-padding">
      <div class="emptybg"></div>
      <div class="menupills">
        <!-- Nav tabs Blog Articles and Releases -->
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="active">
            <a href="#mainblog" aria-controls="mainblog" role="tab" data-toggle="tab" class="">
              <i class="fa fa-pencil-square-o"></i> Blog
            </a>
          </li>
          <li role="presentation">
            <a href="#mainarticles" aria-controls="mainarticles" role="tab" data-toggle="tab" class="">
              <i class="fa fa-newspaper-o"></i> Articles
            </a>
          </li>
          <li role="presentation">
            <a href="#maintools" aria-controls="maintools" role="tab" data-toggle="tab" class="">
              <i class="fa fa-archive"></i> Tools
            </a>
          </li>
        </ul>
      </div>
      <div class="blogcontent">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="mainblog">
            <!-- Article List -->
            <article class="clearfix blogpost" ng-repeat="post in main.blog | orderBy: '-creation_date' | limitTo: 1">
              <div class="overlay-container" ng-hide="post.featured.length == 0">
                <img class="img-responsive" ng-src="{{post.featured}}" alt="{{post.title}}">
                <div class="overlay">
                  <div class="overlay-links">
                    <a ui-sref="blogpost({id:post.id})"><i class="fa fa-link"></i></a>
                    <a ng-href="{{post.featured}}" target="_blank" class="popup-img-single" title="{{post.title}}"><i class="fa fa-search-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="blogpost-body">
                <div class="post-info">
                  <i class="fa fa-user fa-2x"></i>
                </div>
                <div class="blogpost-content">
                  <header>
                    <h2 class="title"><a ui-sref="blogpost({id:post.id})">{{post.title}}</a></h2>
                    <div class="submitted text-right"><i class="fa fa-calendar"></i> &nbsp; {{post.creation_date}}</div>
                  </header>
                  <p class="post-summary">{{post.summary}}</p>
                </div>
              </div>
              <footer class="clearfix">
                <ul class="list-inline pull-left">
                  <li><i class="fa fa-comment-o pad-right-5"></i> <a href="#">{{(post.comments | filter:{comment_approved:true}).length}} comments</a> |</li>
                  <li><i class="fa fa-user pad-right-5"></i> by {{post.author}}</li>
                </ul>
                <a class="pull-right btn btn-default" ui-sref="blogpost({id:post.id})"><span>Read more</span></a>
              </footer>
            </article>
            <!-- View All -->
            <div class="viewall">
              <a ui-sref="blog()" class="btn btn-block btn-info"> View All the Blog Posts... </a>
            </div>

          </div>
          <div role="tabpanel" class="tab-pane" id="mainarticles">
            <article class="clearfix blogpost" ng-repeat="article in main.articles| limitTo:1">
              <div class="overlay-container" ng-hide="article.featured.length == 0">
                <img class="img-responsive" ng-src="{{article.featured}}" alt="{{article.title}}">
                <div class="overlay">
                  <div class="overlay-links">
                    <a ng-href="blog-post.html"><i class="fa fa-link"></i></a>
                    <a ng-href="{{article.featured}}" target="_blank" class="popup-img-single" title="{{article.title}}"><i class="fa fa-search-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="blogpost-body">
                <div class="post-info">
                  <i class="fa fa-user fa-3x"></i>
                </div>
                <div class="blogpost-content">
                  <header>
                    <h2 class="title"><a ui-sref="articlepost({id:article.id})">{{article.title}}</a></h2>
                    <div class="submitted"><i class="fa fa-calendar"></i> &nbsp; {{article.creation_date}}</div>
                  </header>
                  <p>{{article.summary}}</p>
                </div>
              </div>
              <footer class="clearfix">
                <ul class="list-inline pull-left">
                  <li><i class="fa fa-comment-o pad-right-5"></i> <a href="#">{{(article.comments | filter:{comment_approved:true}).length}} comments</a> |</li>
                  <li><i class="fa fa-user pad-right-5"></i> by {{article.author}}</li>
                </ul>
                <a class="pull-right btn btn-default" ui-sref="articlepost({id:article.id})"><span>More...</span></a>
              </footer>
            </article>
            <!-- View All -->
            <div class="viewall">
              <a ui-sref="articles()" class="btn btn-block btn-info"> View the Articles List... </a>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="maintools">
            <article class="clearfix blogpost">
            </article>

            <!-- View All -->
            <div class="viewall">
              <a ui-sref="tools()" class="btn btn-block btn-info"> All the Tools we have... </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="theteam">
    <div class="col-xs-12 header-team">
      <h1 class="hidden-sm hidden-md hidden-lg"> <strong>Fuzenet Marketing</strong> Team</h1>
    </div>
    <div class="theteam-content">
      <div class="container team-group">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="hidden-xs supertitle text-center text-orange"> <strong>Fuzenet Marketing</strong> Team </h2>
            <h3 class="subTitle text-center"> Meet the creative Team</h3>
          </div>
          <div class="team-list">
            <div class="col-xs-6 col-sm-4 col-md-4 no-padding" data-ng-repeat="member in main.team">
              <article class="person animated slideInUp">
                <figure class="person-hold">
                  <img ng-src="{{member.picture}}" class="img-responsive"/>
                  <figcaption class="person-info">
                    <h4>{{member.name}} <br/> <small>{{member.position}}</small> </h4>
                  </figcaption>
                </figure>
              </article>
            </div>
          </div>
      </div>
    </div>
  </div>

</div>

</div>

<section id="footer">
  <acme-footer />
</section>

<!--<div class="jumbotron text-center">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p class="animated tada"> &lt;!&ndash;ng-class="main.classAnimation"&ndash;&gt;
    <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
  </p>
  <p>
    With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']" />
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div>

</div>-->
