<header class="main">
  <div class="header-wrapper">
    <acme-navbar />
  </div>
</header>

<div id="menu-separator"></div>

<section id="portfolio-header">
</section>

<section id="portfolio-title">
  <div class="container">
    <div class="col-xs-6">
      <h1 class="text-left">FuzeNet Portfolio</h1>
    </div>
    <div class="col-xs-6 text-right">
      <a class="btn right-btn" ng-click="vm.categoryFilter = ''; vm.subcategoryFilter = ''"><i class="fa fa-th"></i> &nbsp; View ALL Portfolio</a>
    </div>
  </div>
</section>

<section id="portfolio-navcat">
  <div class="container">
    <div class="text-center">
      <div class="filter-lot">
        <a class="btn btn-filter col-xs-4" ng-click="vm.categoryFilter = 'design'; vm.subcategoryFilter = ''">
          <img class="img-responsive" src="assets/images/portfolio/design.png" title="FuzeNet Design Portfolio"/>
        </a>
        <a class="btn btn-filter col-xs-4" ng-click="vm.categoryFilter = 'development'; vm.subcategoryFilter = ''">
          <img class="img-responsive" src="assets/images/portfolio/development.png" title="FuzeNet Development Portfolio"/>
        </a>
        <a class="btn btn-filter col-xs-4" ng-click="vm.categoryFilter = 'marketing'; vm.subcategoryFilter = ''">
          <img class="img-responsive" src="assets/images/portfolio/marketing.png" title="FuzeNet Marketing Portfolio"/>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="portfolio-page">
  <div class="container">
    <div class="row">
      <!-- Portfolio Design -->
      <div class="lot">
        <div>
          <div class="filter-lot" ng-show="vm.categoryFilter == ''">
            <p class="no-cat"> Select a category above to Filter the Portfolio </p>
          </div>
          <div class="filter-lot" data-ng-hide="vm.categoryFilter != 'design'">
            <a class="btn btn-filter" ng-click="vm.categoryFilter = 'design'; vm.subcategoryFilter = ''"> All </a>
            <a class="btn btn-filter" ng-click="vm.categoryFilter = 'design'; vm.subcategoryFilter = 'branding'"> Branding </a>
            <a class="btn btn-filter" ng-click="vm.categoryFilter = 'design'; vm.subcategoryFilter = 'graphic_design'"> Graphics </a>
            <a class="btn btn-filter" ng-click="vm.categoryFilter = 'design'; vm.subcategoryFilter = 'web_design'"> Web Design </a>
          </div>
          <div class="filter-lot" data-ng-hide="vm.categoryFilter != 'development'">
            <a class="btn btn-filter" ng-click="vm.categoryFilter = 'development'; vm.subcategoryFilter = ''"> All </a>
            <a class="btn btn-filter" ng-click="vm.categoryFilter = 'development'; vm.subcategoryFilter = 'web'"> Web </a>
            <a class="btn btn-filter" ng-click="vm.categoryFilter = 'development'; vm.subcategoryFilter = 'wordpress'"> Wordpress </a>
            <a class="btn btn-filter" ng-click="vm.categoryFilter = 'development'; vm.subcategoryFilter = 'optimization'"> Optimization </a>
          </div>
          <div class="filter-lot" data-ng-hide="vm.categoryFilter != 'marketing'">
            <a class="btn btn-filter" ng-click="vm.categoryFilter = 'marketing'; vm.subcategoryFilter = ''"> All </a>
            <a class="btn btn-filter" ng-click="vm.categoryFilter = 'marketing'; vm.subcategoryFilter = 'remarketing'"> Remarketing </a>
            <a class="btn btn-filter" ng-click="vm.categoryFilter = 'marketing'; vm.subcategoryFilter = 'seo'"> SEO/PPC </a>
            <a class="btn btn-filter" ng-click="vm.categoryFilter = 'marketing'; vm.subcategoryFilter = 'social_media'"> Social Media </a>
          </div>
        </div>


        <div masonry="true" reload-on-load> <!--item-selector=".masonry-brick"-->
          <article class="masonry-brick col-xs-12 col-sm-6 col-md-4" ng-repeat="item in vm.portfolio | filter: { category: vm.categoryFilter } | filter: {subcategory: vm.subcategoryFilter}">
            <a ng-href="{{item.picture}}" target="_blank" class="popup-img-single" title="{{item.name}}">
              <figure class="item-portfolio-hold">
                <img ng-src="{{item.picture}}" class="img-responsive"/>
                <figcaption class="item-portfolio-info">
                  <h4>{{item.name}} <br/> <small>{{item.tagline}}</small> </h4>
                </figcaption>
              </figure>
            </a>
          </article>
        </div>
      </div>
    </div>	    <!-- End row -->
  </div>       <!-- End container -->
</section>    <!-- End Section -->

<section id="footer">
  <acme-footer />
</section>
