/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap/less/variables.less
 */
@navbar-inverse-link-color: #5AADBB;
@icon-font-path: '../../bower_components/bootstrap/fonts/';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/* MY STYLES */
@font-face {
  font-family: bernhard;
  src: url('../assets/fonts/BernhardAntDBolCon.ttf') format('truetype');
}

@font-face {
  font-family: eurostile;
  src: url('../assets/fonts/EurostileBold.ttf') format('truetype');
}

@font-face {
  font-family: jura;
  src: url('../assets/fonts/Jura-Medium.ttf') format('truetype');
}

/*Clean the default auto-fill fields*/
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #FFFFFF;
  background-image: none;
  color: #1b1b1b;
}

.input-group-addon {
  color: #FFFFFF;
  background-color: #30B8EA;
  border: 1px solid #1088B4;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pad-right-5 {
  padding-right: 5px;
}

.mar-top-10 {
  margin-top: 10px;
}

.mar-top-20 {
  margin-top: 20px;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

header > .header-wrapper {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}

.site-header .header-top > ul > li.header-top-phone,
.site-header .header-top > ul > li.header-top-tagline,
.site-header .header-top > ul > li.header-top-quote {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-align: left;
  height: 30px;
}

h1.tagline {
  font-size: 2em;
  font-family: eurostile, Helvetica, Arial, sans-serif;
  padding-left: 10px;
  margin-top: 0px;
  line-height: 30px;
}

.portfolio-title {
  font-family: eurostile;

}

.filter-lot {
  text-align: center;
  margin: 20px 0;
}

.filter-lot a {
  background: transparent;
  color: #1b1b1b;
  border-bottom: 4px solid transparent;
  font-size: 1.2em;
}

.filter-lot a img:hover {
  -webkit-filter: gray;
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  /*background: rgba(255,255,255,0.3);*/
}

.filter-lot a img {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

section#portfolio-navcat .filter-lot a,
section#portfolio-navcat .filter-lot a:active {
  box-shadow: none;
  border-bottom: none;
}

.filter-lot a:hover {
  border-bottom: 4px solid #eee;
}

article.masonry-brick figure.item-portfolio-hold figcaption {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 2px 10px;
  width: 100%;
}

figure.item-portfolio-hold {
  margin: 0 0 20px 0;
  padding: 0;
  position: relative;
  width: 100%;
  font-size: 0;
  overflow: hidden;
}

figure.item-portfolio-hold img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: gray;
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

figure.item-portfolio-hold img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

figure.item-portfolio-hold figcaption small {
  color: #ffffff;
}

.site-header .header-top > ul > li.header-top-quote form {
  display: block;
  margin-top: 0em;
}

.getquote {
  margin-bottom: 5px;
  padding: 6px 12px;
  border-radius: 0;
  width: 180px;
  font-weight: normal;
}

.site-header .header-top > ul > li.header-top-quote button {
  position: relative;
  text-transform: uppercase;
  background: transparent;
  border: none;
  height: 34px;
  line-height: 30px;
  text-align: center;
  color: #30b8ea;
  top: 0;
  right: 0;
}

.site-header .header-middle .header-middle-toggle {
  display: none;
  width: 30px;
  height: 30px;
  line-height: 20px;
  text-align: center;
  font-size: 2em;
  color: #EC6D00;
  position: absolute;
  top: 16px;
  right: 0;
  cursor: pointer;
}

div.header-middle-logo {
  position: absolute;
  top: 0;
  margin-top: 15px;
  z-index: 2000;
}

/*nav.navbar-static-top {
  display: block;
  z-index: 500;
}*/

.navbar {
  margin-bottom: 5px;
}

.navbar-default {
  background-color: #FFFFFF;
  border-color: transparent;
}

.navbar-toggle {
  border: transparent;
  border-radius: 2px;
}

.navbar-right {
  text-align: right;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #1b1b1b;
}

.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #FBA053;
}

.navbar-default .navbar-collapse .nav > li {
  display: inline-block;
}

.navbar-default .nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: rgba(238, 123, 26, 0.9);
  color: #fff;
}

.navbar-default .navbar-toggle:hover{
  background-color: #FBA053;
}

#menu-separator {
  min-height: 110px;
}

img.img-resposive.hidden-sm.hidden-md.hidden-lg {
  width: 60px;
}

.carousel-control {
  padding-top: 4px;
  width: 50px;
  height: 40px;
  top: inherit;
  left: inherit;
  right: 50px;
  bottom: 0;
  font-size: inherit;
  background-color: #ee7b1a;
}

.fa-25x {
  font-size: 2.5em;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  background-repeat: no-repeat;
}

div#wrapper-brand-list {
  border-top: 2px solid #ee7b1a;
  background: #fff;
}

ul.brand-list {
  width: 100%;
  margin-left: 0;
}

ul.brand-list li {
  float: left;
  padding: 5px 0;
  width: 33.33333%;
}

ul.brand-list li a {
  padding: 10px 0;
  display: block;
}

div#maketing-we-do {
  background: url('../assets/images/main/try.png') repeat 50% 50% #1b1b1b;
  border-top: 10px solid #ee7b1a;
  width: 100%;
  min-height: 1px;
  display: inline-block;
}

div#maketing-we-do,
div#features-whiteboard,
#fuzeblog,
div#theteam {
  clear: both;
}

div.marketing-elements {
  margin: 0 auto;

}

div.marketing-elements ul.list-style-orange {
  padding: 30px 0 0 10px
}

div.marketing-elements ul.list-style-orange li {
  font-size: 1.2em;
  color: #fff;
  padding-left: 1em;
  text-indent: -.7em;
}

div.marketing-elements ul.list-style-orange li:before {
  font-family: FontAwesome;
  content: "\f0da    ";
  color: #ee7b1a;
}

div.videoContainer {
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}

video#marketing-video {
  width: 90%;
  height: auto;
  max-height: 100%;
}

div#features-whiteboard div.header-whiteboard {
  height: 50px;
  background: #ee7b1a;
}

div#features-whiteboard div.header-whiteboard h1 {
  text-align: center;
  margin: 0;
  padding: 8px 0;
  font-family: Arial;
  color: #fff;
  font-size: 2em;
}

.nav-justified {
  background-color: #eee;
}

div.tab-features .nav > li > a {
  color: #1b1b1b;
  margin: 0;
  border-radius: 0;
  cursor: pointer;
}

div.tab-features .nav-pills > li.active > a,
div.tab-features .nav-pills > li.active > a:hover,
div.tab-features  .nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #868684;
}

div.tab-features .nav > li > a:hover {
  text-decoration: none;
  background-color: #FFFFFF;
  color: #868684;
}

div.tab-features h4 i {
  position: relative;
  color: #ffffff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: transparent;
  line-height: 27px;
  z-index: 5;
}

/* SMALL HEXAGON */
.hexagon {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23.09px;
  background-color: #1b1b1b;
  margin: 11.55px 0;
  border-left: solid 4px #ff8040;
  border-right: solid 4px #ff8040;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 28.28px;
  height: 28.28px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 1.8579px;
}

.hexagon:before {
  top: -14.1421px;
  border-top: solid 5.6569px #ff8040;
  border-right: solid 5.6569px #ff8040;
}

.hexagon:after {
  bottom: -14.1421px;
  border-bottom: solid 5.6569px #ff8040;
  border-left: solid 5.6569px #ff8040;
}

.hvr-underline-from-center:before {
  background: #ff8040;
}

.hvr-bubble-bottom:before {
  border-color: #ff8040 transparent transparent transparent;
}

.hvr-bubble-right:before {
  border-color: transparent  transparent transparent #FFFFFF;
}

div.tab-content {
  padding: 20px;
}

/**** MASONRY DIRECTIVE Transitions ****/
.masonry,
.masonry article { /* apply before masonry add class */
  position: absolute; /* important to add it before enter animation start */

  -webkit-transition-duration: .7s;
  transition-duration: .7s;

  -webkit-transition-property: all;
  transition-property: all;
}

.masonry .masonry-enter { /* limit animated properties for entering elements */
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}

.masonry-enter,
.masonry-leave.masonry-leave-active {
  opacity: 0;
 /* -webkit-transform: scale(0.1);
  transform: scale(0.1);*/
}

.masonry-leave,
.masonry-enter.masonry-enter-active {
  opacity: 1;
  /*-webkit-transform: scale(1);
  transform: scale(1);*/
}

/***** TRY FIX SAME HEIGHT COLUMN ******/
.emptybg, .emptybg:before {
  width:20%;
}
.emptybg {
  float:left;
  padding: 20px 30px;
  color: #6d7072;
}
.emptybg:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  left: 0;
  background: url('../assets/images/main/try.png') repeat 0% 50% #EEEEEE;
  background-size: 200%;
}

.menupills, .menupills:before {
  width:20%;
}
.menupills {
  float:left;
  padding: 0;
  color: #ebeef3;
}
.menupills:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  left: 20%;
  background: #fff;
}

.blogcontent, .blogcontent:before {
  width:60%;
}
.blogcontent {
  float:left;
  padding: 20px 30px;
}
.blogcontent:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  left: 40%;
  background-color: #434750;
}


/********* BLOG VIEJO ********/

#fuzeblog div.header-fuzeblog {
  height: 20px;
  background: #868684;
}

#fuzeblog div.header-fuzeblog h1,
div#theteam div.header-team h1 {
  text-align: center;
  margin: 0;
  padding: 8px 0;
  font-family: Arial;
  color: #fff;
  font-size: 2em;
}

/*#fuzeblog div.fuzeblog-leftmenu {
  background: #868684;
}*/

/*#fuzeblog div.fuzeblog-content {
  width: 100%;
  height: auto;
  display: table;
}*/

/*#fuzeblog div.fuzeblog-leftbg,
#fuzeblog div.fuzeblog-leftmenu,
#fuzeblog div.blogcontent {
  display: table-cell;
}*/

/*#fuzeblog div.fuzeblog-leftbg {
  height: auto;
  background: url('../assets/images/main/try.png') repeat 0% 50% #EEEEEE;
  background-size: 200%;
}*/

/*#fuzeblog div.fuzeblog-leftmenu {
  height: auto;
  background: #fff;
}*/

#fuzeblog div.menupills ul li {
  width: 100%;
  margin: 0;
}

#fuzeblog div.menupills ul li a {
  display: block;
  border-radius: 0;
  color: #1b1b1b;
}

#fuzeblog div.menupills ul li.active a,
#fuzeblog div.menupills ul li.active a:hover {
  background: #EE7B1A;
  color: #FFFFFF;
}

#fuzeblog div.menupills ul li a:hover {
  background: #EEEEEE;
}

/*#fuzeblog div.blogcontent {
  height: auto;
}*/

blockquote p {
  font-size: 0.9em;
}

#post-content article {
  margin: 30px 0;
}

#post-content .jumbotron {
  background: #56C7E0;
  color: white;
}

#post-content .jumbotron p {
  font-size: 0.9em;
}

#post-comments .add-comment {
  margin: 20px auto;
}

#formComment {
  margin: 10px auto;
}


.post-item article {
  margin-bottom: 2em;
}

div.blogcontent .blogpost {
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  margin: 0 0 40px;
  position: relative;
}

.overlay-container {
  position: relative;
  display: block;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: -1px;
  left: 0;
  right: -1px;
  background-color: rgba(241, 241, 241, 0.85);
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.overlay-container:hover .overlay,
.overlay-container:hover .overlay-links {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.overlay-links {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  margin-top: 0px;
  left: 50%;
  margin-left: -40px;
  font-size: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
  -webkit-transition: all 0.25s linear 0.05s;
  -moz-transition: all 0.25s linear 0.05s;
  -ms-transition: all 0.25s linear 0.05s;
  -o-transition: all 0.25s linear 0.05s;
  transition: all 0.25s linear 0.05s;
}

.overlay a {
  color: #e84c3d;
  background-color: #ffffff;
}
.overlay-links a {
  position: static;
  margin-top: 0;
  margin-left: 0;
}
.overlay a {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 26px;
  color: #EE7B1A;
  background-color: #ffffff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50%;
  line-height: 1.9;
}

.overlay-links a + a {
  color: #ffffff;
  background-color: #EE7B1A;
}
.overlay-links a + a {
  left: 60px;
  color: #ffffff;
  background-color: #EE7B1A;
}

.overlay a:hover {
  color: #ffffff;
  background-color: #1b1b1b;
  text-decoration: none;
}

div.blogcontent .blogpost .blogpost-body {
  padding: 15px 15px 0 15px;
}
.blogpost .blogpost-body {
  padding: 20px 20px 0 20px;
  min-height: 140px;
}

div.blogcontent .blogpost .post-info {
  width: 60px;
  height: 60px;
  padding: 8px 8px;
}

.blogpost .post-info {
  float: left;
  top: 0;
  left: 25px;
  padding: 10px 15px;
  background-color: #868684;
  color: #fff;
  text-align: center;
  z-index: 3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  border: 2px solid #636060;
  height: 50px;
  width: 50px;
  margin: 0 20px 5px 0;
}

.blogpost a {
  color: #1b1b1b;
  text-decoration: none;
}

div.blogcontent .blogpost .blogpost-content {
  margin-left: 0;
}

.blogpost .blogpost-content{
  padding: 0 0 10px;
}

/*.blogpost-content header {
  margin-left: 80px;
}*/

p.post-summary {
  height: 4em;
  overflow: hidden;
  margin: 0 0 15px 0;
  color: #636060;
}

p.post-summary:after {
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.3) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.3) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.3) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.3) 100%);
  background-image: linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.3) 100%);
  position: absolute;
  width: 100%;
  height: 4.1em;
  left: 0;
  content: '';
  bottom: 5em;
}


div.blogcontent .blogpost h2.title {
  font-size: 1.6em;
}

.blogpost h2.title {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.3em;
  height: 2.4em;
}

div.blogcontent .blogpost .submitted {
  margin: 15px 0 10px;
  color: #EC6E00;
}
.blogpost .submitted {
  font-size: 0.89em;
  margin: 10px 0;
}

div.blogcontent .blogpost .post-info .day {
  font-size: 20px;
}

.blogpost .post-info .day {
  font-size: 34px;
  font-weight: bold;
  line-height: 1;
  display: block;
}

div.blogcontent .blogpost footer {
  padding: 12px 15px;
}

.blogpost footer {
  background-color: #f6f5f5;
  padding: 12px 20px;
  border-top: 1px solid #EEEEEE;
  font-size: 14px;
  line-height: 2;
  clear: both;
}


/***** THE TEAM *********/

div#theteam div.header-team {
  height: 20px;
  background: #EC6E00;
  margin-bottom: 10px;
}

.team-group {
  margin-bottom: 40px;
}

h2.supertitle {
  font-size: 2.1em;
}

.text-orange {
  color: #EC6E00;
}

h3.subTitle {
  font-size: 1.5em;
  padding-bottom: 10px;
}

.brand-item a img {
  height: 80px;
}

.person figure {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  font-size: 0;
  overflow: hidden;
}

.person figure figcaption {
  background: rgba(0,0,0,0.3);
  color: #fff;
  padding: .3rem;
  position: absolute;
  text-align: center;
  transition: .6s;
  width: 100%;
}

.person figure figcaption h4 {
  margin-top: 4px;
}

.person figure figcaption h4 small {
  color: #FFFFFF;
}

.person figure:hover figcaption {
  transform: translateY(-5rem);
}

.person img,
.brand-item a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* Disable grayscale on hover */
.person .person-hold img:hover,
.brand-item a img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

div#contact-fuzenet {
  border-top: 10px solid #666666;
  background: #1b1b1b;
}

#contact-form .form-control {
  background: #FFFFFF !important;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  height: 40px;
  padding-left: 50px;
  -webkit-transition: border-color .3s ease-out;
  transition: border-color .3s ease-out;
  border-radius: 0px;
}

#contact-form textarea.form-control {
  height: auto;
  max-width: 100%;
  min-width: 100%;
  padding-top: 10px;
}

#contact-form .form-control:focus {
  background: #fff;
  border-bottom: 3px solid #EE7B1A;
  outline: none;
  box-shadow: none;
  -webkit-transition: border-color .3s ease-in;
  transition: border-color .3s ease-in;
}

#contact-form .form-group [class*=fa] {
  display: block;
  width: 50px;
  position: relative;
  top: 25px;
  left: 0px;
  color: #636060;
  text-align: center;
  font-weight: 300;
  opacity: 0.5;
  transition: opacity .2s ease-out;
}

.btn-orange {
  background: #EC6E00;
  color: #1b1b1b;
  font-weight: bold;
  font-size: 1.4em;
}

.btn-orange:hover {
  color: #FFFFFF;
}

.btn-orange:hover, .btn-orange:active, .btn-orange:focus, .btn-orange:visited {
  outline: none;
}

form#contact-form {
  width: 100%;
}

#contact-form .form-control:focus + [class*=fa] {
  opacity: 1;
}

div.contact-content {
  margin-top: 20px;
}

div#contact-invite {
  display: inline-block;
  position: relative;
}

div#cform {
  margin-bottom: 20px;
}

#contact-invite h1 {
  color: #EB6D00;
  padding-left: 15px;
  margin-bottom: 20px;
  font-family: eurostile;
}

div.bottom-logo {
   height: 73px;
   background: url('../assets/images/main/logo-reverse-lg.png');
   margin: 0 30px;
   background-size: cover;
   background-repeat: no-repeat;
   overflow: hidden;
   -webkit-transition: all linear 0.2s;
   -moz-transition: all linear 0.2s;
   -ms-transition: all linear 0.2s;
   -o-transition: all linear 0.2s;
   transition: all linear 0.2s;
 }

#contact-invite h1 small {
  background: #0b97c4;
  color: #FFFFFF;
  padding: 4px 8px;
  border-radius: 4px;
}

#contact-invite div.for-small-screen h1 {
  font-size: 2.5em;
  display: inline-block;
}

#contact-invite div.for-big-screen h1 {
  font-size: 5em;
  font-family: eurostile;
  font-weight: bold;
  line-height: 0.9;
}

#contact-invite div.for-big-screen h1 small {
  margin-top: 10px;
  display: block;
  font-size: 0.5em;
}

#contact-invite div.for-big-screen div.bubble-chat {
  border: 4px solid #FFFFFF;
  border-radius: 10px;
  margin-top: 20px;
}

#contact-invite div.for-big-screen div.bubble-chat:after {
  position: absolute;
  content: ' ';
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 0px solid transparent;
  border-top: 20px solid #FFFFFF;
  left: 20%;
}

#contact-invite div.for-big-screen div.bubble-chat p.ask {
  font-size: 2.4em;
  font-weight: bold;
  color: #0B97C4;
  margin: 0;
  padding: 23px 10px;
}

footer.infotocontact {
  border-top: 2px solid #0B97C4;
  padding-top: 5px;
  clear: both;
  margin: 0 30px;
}

footer.infotocontact h3 {
  color: #FFFFFF;
}

footer.infotocontact ul,
footer.infotocontact dl {
  margin-bottom: 20px;
}

footer.infotocontact address,
footer.infotocontact ul li,
footer.infotocontact dl {
  font-size: 1.2em;
  color: #FFFFFF;
}

span.fuzeignite {
  font-family: "Inconsolata", Menlo, Courier, monospace;
  font-size: 0.5em;
}

h2.form-title {
  color: #FFFFFF;
  font-size: 3em;
  padding-left: 15px;
}

div#copyfuze {
  background: #666666;
}

div#copyfuze p {
  color: #DFDFDE;
  margin-top: 10px;
}

div#copyfuze a.link-copyfuze {
  color: #333333;
  text-decoration: none;
  padding: 5px 4px;
}

div#copyfuze a.link-copyfuze:hover {
  color: #FFFFFF;
}

.social-bottom-right {
  display: inline-block;
  margin-left: 20px;
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #53AAED;
}

.google-plus {
  color: #d34836;
}

.instagram {
  color: #4E433C;
}

i.fa.fa-25x {
  color: #999999;
}

i.fa.fa-25x:hover {
  color: #FFFFFF;
}

section#about-header {
  background: url("../assets/images/about/about-header-1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-origin: content-box;
  background-size: cover ;
  background-color: #1b1b1b;
  color: #fff;
}

section#about-header > .container {
  padding: 70px 0;
}

section#about-more {
  padding: 50px 0;
}

section#about-some {
  background: url('../assets/images/main/try.png') repeat 50% 50% #1b1b1b;
  border-top: 10px solid #ee7b1a;
  color: #FFFFFF;
  border-bottom: 8px solid #ffffff;
  padding: 30px 0 10px 0;
}

section#about-team div#theteam div.header-team {
  height: 50px !important;
}

section.parallax-section {
  /*background-attachment: fixed !important; /*Parallax effect*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* SKILLS CSS PURE */
.skills-wrapper {
  width: 80%;
  position:relative;
  float:left;
  padding: 20px 0 0 0;
}

.skills-wrapper ul {
  padding-top:30px;
  & > li {
    margin-bottom: 40px;
    background: #1b1b1b;
    height: 6px;
    border-radius: 1px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    & em {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 15px;
      position:relative;
      top:-30px;
      font-weight: bold;
      font-style: normal;
    }
    & span {
      height:2px;
      margin: 1px 0;
      background:#eb9316;
      position:absolute;
      box-shadow:0px 0px 10px 1px rgba(234, 146, 22, 0.4);
    }
    & span:after {
      content: '';
      display: inline-block;
      float: right;
    }
  }
}

.skillgraphics {
  width:95%;
  animation:graphics 2s ease-out;
}
.skillweb {
  width:90%;
  animation:web 2s ease-out;
}
.skillbranding {
  width:65%;
  animation:branding 2s ease-out;
}
.skillseo {
  width:85%;
  animation:seo 2s ease-out;
}
.skilldevelop {
  width:93%;
  animation:develop 2s ease-out;
}
.skillwordpress {
  width:70%;
  animation:wordpress 2s ease-out;
}

/* KEYFRAMES for Standard Browser */
@keyframes graphics {
  0%  { width:0px;}
  100%{ width:95%;}
}
@keyframes web {
  0%  { width:0px;}
  100%{ width:90%;}
}
@keyframes branding {
  0%  { width:0px;}
  100%{ width:65%;}
}
@keyframes seo {
  0%  { width:0px;}
  100%{ width:85%;}
}
@keyframes develop {
  0%  { width:0px;}
  100%{ width:93%;}
}
@keyframes wordpress {
  0%  { width:0px;}
  100%{ width:70%;}
}

/* KEYFRAMES for Webkit Browser */
@-webkit-keyframes graphics {
  0%  { width:0px;}
  100%{ width:95%;}
}
@-webkit-keyframes web {
  0%  { width:0px;}
  100%{ width:90%;}
}
@-webkit-keyframes branding {
  0%  { width:0px;}
  100%{ width:65%;}
}
@-webkit-keyframes seo {
  0%  { width:0px;}
  100%{ width:85%;}
}
@-webkit-keyframes develop {
  0%  { width:0px;}
  100%{ width:93%;}
}
@-webkit-keyframes wordpress {
  0%  { width:0px;}
  100%{ width:70%;}
}

/****** PORTFOLIO PAGE *************/
section#portfolio-header {
  background: url("../assets/images/portfolio/teampic.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  background-color: transparent;
  color: #fff;
  min-height: 250px;
}

section#portfolio-title {
  background: #CCCCCC;
  margin: 10px 0;
}

section#portfolio-title h1 {
  color: #1b1b1b;
  font-family: eurostile-normal;
  text-transform: lowercase;
  margin: 10px 0;
}

section#portfolio-title .right-btn {
  font-size: 1.3em;
  line-height: 1.4;
  padding: 0;
  margin: 15px 0;
  color: #1b1b1b;
}

section#portfolio-title .right-btn:hover {
  color: #FFFFFF;
}

section#portfolio-navcat {
  background: #EC6E00;
  margin: 40px 0 0;
  padding: 10px 0;
}

section#portfolio-page {

}

.no-cat {
  font-size: 1.2em;
  margin: 20px 0;
  padding: 6px 12px;
}

#logo-full {
  width: auto;
  -webkit-transition: width linear 0.2s;
  -moz-transition: width linear 0.2s;
  -ms-transition: width linear 0.2s;
  -o-transition: width linear 0.2s;
  transition: width linear 0.2s;
}


/*** MEDIA QUERYS *********/
@media (min-width: 1200px) {
  .header-wrapper,
  .site-slider .slide-caption .caption-wrapper,
  .site-banner .banner-caption .caption-wrapper,
  header > .header-wrapper .site-header {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .site-header {
    max-height: 120px;
  }

  div.header-middle-logo {
    margin-left: 40px;
  }

  .site-header .header-bottom {
    padding-right: 24px;
  }

  .brand-item a img {
    height: 100px;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .site-header .header-top {
    height: 60px;
    padding-top: 20px;
    text-align: right;
  }

  .site-header .header-top > ul {
    display: inline-block;
  }

  .site-header .header-top > ul > li {
    float: left;
    margin-right: 20px;
  }

  .site-header .header-middle {
    text-align: right;
    padding-right: 24px;
  }

  div.header-middle-logo {
    margin-left: 20px;
  }

}

@media (max-width: 991px) {
  .site-header {
    position: relative;
  }

  .site-header, .site-block, .site-footer, .site-slider .slide-caption .caption-wrapper, .site-banner .banner-caption .caption-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  /*.site-header .header-middle {
    padding: 20px 0 0 0;
    position: relative;
    z-index: 1;
  }*/

  .site-header {
    max-height: 120px;
  }

  .site-header .header-top .header-top-tagline {
    display: none;
  }

  div#contact-invite {
    /*left: 20%;*/
  }

}

@media (max-width: 767px) {

  #menu-separator {
    min-height: 70px;
  }

  #logo-full {
    width: 290px;
  }

  .site-header .header-top {
    display: none;
  }

  .site-header .header-middle {
    padding: 15px 0 0 0;
  }

  .site-header .header-middle .header-middle-toggle {
    /*display: inline-block;*/
    z-index: 2000;
  }

  nav.navbar-static-top {
    /*display: none;*/
    z-index: 500;
    min-height: 50px;
    text-align: right;
  }

  nav#main-menu ul li {
    display: inline-block;
  }

  /**** Ajustar tamanno de main blog section ***/
  .emptybg, .emptybg:before {
    width:0;
    display: none;
  }

  .menupills, .menupills:before {
    width:100%;
    clear: both;
    background: #ffffff;
  }
  .menupills {
    float:none;
    padding: 0;
    font-size: 1em;
  }
  .menupills:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
  }

  .blogcontent, .blogcontent:before {
    width:100%;
    clear: both;
  }
  .blogcontent {
    float:none;
    padding: 20px 30px;
    font-size: 1em;
  }
  .blogcontent:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    background-color: #434750;
  }

  #fuzeblog div.header-fuzeblog,
  div#theteam div.header-team {
    height: 50px;
  }

  #fuzeblog div.menupills ul {
    width: 100%;
    display: table;
    border-bottom: 1px solid #FF8040;
  }

  #fuzeblog div.menupills ul li {
    text-align: center;
    display: table-cell;
    width: 33.333333%;
  }

  .blogpost .post-info {
    width: 60px;
    height: 60px;
    padding: 8px 8px;
    margin: 0 20px 5px 0;
  }

  .brand-item a img {
    height: 70px;
  }
}

@media (max-width: 550px) {
  .brand-item a img {
    height: 50px;
  }

  div.bottom-logo {
    height: 60px;
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector
