<header class="main">
  <div class="header-wrapper">
    <acme-navbar />
  </div>
</header>

<div id="menu-separator"></div>

<div class="container">
  <h1>ARTICLES@!!!!</h1>
</div>

<section id="footer">
  <acme-footer />
</section>