<header class="main">
  <div class="header-wrapper">
    <acme-navbar />
  </div>
</header>

<div id="menu-separator"></div>

<section id="blog-header">
  <div class="container">
    <div class="col-xs-12 col-sm-6">
      <h2 class="animated fadeInUp">Sharing our knowledge</h2>
      <p class="animated fadeInUp">The best way to be in touch with you.</p>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="input-group mar-top-20">
            <input type="text" class="form-control" placeholder="Search for title & summary" aria-describedby="addon-search" ng-model="vm.searchcrit"/>
            <span class="input-group-addon" id="addon-search">Filter!</span>
        </div>
    </div>
  </div>
</section>

<section id="blog-page">
  <div class="container">
    <div class="row">
      <div id="blog-posts" class="col-xs-12">
        <div class="post-item">
            <article ng-repeat="post in vm.blog | filter:vm.searchFn" class="col-xs-12 col-sm-6 blogpost wow animated fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms" >
                <div class="overlay-container" ng-hide="post.featured.length == 0">
                    <img class="img-responsive" ng-src="{{post.featured}}" alt="{{post.title}}">
                    <div class="overlay">
                        <div class="overlay-links">
                            <a ui-sref="blogpost({id:post.id})"><i class="fa fa-link"></i></a>
                            <a ng-href="{{post.featured}}" target="_blank" class="popup-img-single" title="{{post.title}}"><i class="fa fa-search-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="blogpost-body">
                    <div class="post-info" ng-style="{'background-image': 'url(' + post.ownerpic + ')', 'background-repeat': 'no-repeat', 'background-size': '60px 60px', 'background-position': 'center center' }">
                    </div>
                    <div class="blogpost-content">
                        <header>
                            <h2 class="title"><a ui-sref="blogpost({id:post.id})">{{post.title}}</a></h2>
                            <div class="submitted text-right"><i class="fa fa-calendar"></i> &nbsp; {{post.creation_date}}</div>
                        </header>
                        <p class="post-summary">{{post.summary}}</p>
                    </div>
                </div>
                <footer class="clearfix">
                    <ul class="list-inline pull-left">
                        <li><i class="fa fa-comment-o pad-right-5"></i> <a href="#">{{(post.comments | filter:{comment_approved:true}).length}} comments</a> |</li>
                        <li><i class="fa fa-user pad-right-5"></i> by {{post.author}}</li>
                    </ul>
                    <a class="pull-right btn btn-default" ui-sref="blogpost({id:post.id})"><span>More...</span></a>
                </footer>
            </article>

        </div>
      </div>
    </div>	    <!-- End row -->
  </div>       <!-- End container -->
</section>    <!-- End Section -->

<section id="footer">
  <acme-footer />
</section>
